{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>
        <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
            <div class="row">
            {% if is_granted("ROLE_USER") %}
                {% for book in app.user.books %}
                    <div class="col-md-5 p-lg-2 mx-auto">
                        <a href="{{ path('app_book_show', {'id': book.id}) }}" style='margin: 20px;'>
                            <img src="{{ book.poster}}" style='height: 200px;'>
                        </a>
                        <p>{{ book.name }}</p>
                    </div>
                {% else %}
                    <p colspan="5">No books, take care T_T <code> </3 </code></p>
                {% endfor %}
            {% else %}
                {% for book in books %}
                    <div class="col-md-5 p-lg-2 mx-auto">
                        <a href="{{ path('app_book_show', {'id': book.id}) }}" style='margin: 20px;'>
                            <img src="{{ book.poster}}" style='height: 200px;'>
                        </a>
                        <p>{{ book.name }}</p>
                    </div>
                {% else %}
                    <p colspan="5">No books, take care T_T <code> </3 </code></p>
                {% endfor %}
            {% endif %}
            </div>
        </div>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
