{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Poster</th>
                <th>File</th>
                <th>Last_read_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.Name }}</td>
                <td>{{ book.Author }}</td>
                <td>{{ book.poster }}</td>
                <td>{{ book.file }}</td>
                <td>{{ book.lastReadDate ? book.lastReadDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {% for book in books %}
    <div class="col-md-5 p-lg-2 mx-auto">
        <a href="{{ path('app_book_show', {'id': book.id}) }}" style='margin: 20px;'>
            <img src="{{ book.poster}}" style='height: 200px;'>
        </a>
        <p>{{ book.name }}</p>
    </div>
    {% else %}
    <p colspan="5">No books, only ace, take care <code> <3 </code></p>
    {% endfor %}

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
